In [2]:
import numpy as np
import pandas as pd

### Search recall

In [68]:
df = pd.read_csv('../data/results/eval_ek.csv')
#df = pd.read_csv('eval_md.csv')

In [69]:
df.shape

(482, 13)

In [70]:
df["town"].nunique()

126

In [71]:
df.shape

(482, 13)

In [72]:
df.groupby(['town', 'district']).ngroups

158

In [73]:
sdf = df.groupby(by=['town', 'district']).agg({"correct_page_searched": "sum"}).reset_index()

In [74]:
sdf["correct_page_searched"].value_counts()

1    129
0     23
2      5
3      1
Name: correct_page_searched, dtype: int64

In [75]:
sdf["correct"] = sdf["correct_page_searched"].apply(lambda x: 1 if x > 0 else 0)

In [76]:
recall = sdf["correct"].sum() / sdf.shape[0]
print("recall =", recall)

recall = 0.8544303797468354

In [77]:
incorrect_search = sdf[sdf["correct"] == 0]["town"].values.tolist()

In [80]:
len(incorrect_search)

23

In [82]:
df[df["town"].isin(incorrect_search)].iloc[0:20]

,town,district,expected,actual,correct_page_searched,correct_page_extracted,gt_page,searched_pages,searched_pages_expanded,extracted_pages,actual_normalized,expected_normalized,correct_answer
39,chester,Tidal Wetlands,87120,NaN,False,False,{34},{13},"{12, 13, 14, 15, 16}",set(),NaN,87120.0,False
40,chester,Tidal Wetlands,87120,NaN,False,False,{34},{7},"{8, 9, 6, 7}",set(),NaN,87120.0,False
41,clinton,Business-2,10000,NaN,False,False,{334},{18},"{17, 18}",set(),NaN,10000.0,False
42,clinton,Business-2,10000,NaN,False,False,{334},{303},"{304, 305, 302, 303}",set(),NaN,10000.0,False
43,clinton,Business-2,10000,NaN,False,False,{334},{348},"{347, 348}",set(),NaN,10000.0,False
44,clinton,Business-2,10000,NaN,True,False,{334},{334},"{333, 334}",set(),NaN,10000.0,False
45,clinton,Business-2,10000,NaN,False,False,{334},{456},"{456, 457, 455}",set(),NaN,10000.0,False
46,clinton,Business-2,10000,NaN,False,False,{334},{446},"{445, 446, 447}",set(),NaN,10000.0,False
47,clinton,Village,10000,NaN,False,False,{334},{325},"{324, 325, 326, 327, 328, 329}",set(),NaN,10000.0,False
48,clinton,Village,10000,NaN,False,False,{334},{127},"{128, 126, 127}",set(),NaN,10000.0,False
49,clinton,East Main Street Village,10000,NaN,False,False,{334},{18},"{17, 18}",set(),NaN,10000.0,False
50,clinton,East Main Street Village,10000,NaN,False,False,{334},{348},"{347, 348}",set(),NaN,10000.0,False
51,clinton,East Main Street Village,10000,NaN,True,False,{334},{334},"{333, 334}",set(),NaN,10000.0,False
52,clinton,East Main Street Village,10000,NaN,False,False,{334},{369},"{368, 369, 370, 371}",set(),NaN,10000.0,False
56,columbia,Mixed-Use,20000,NaN,True,False,{13},{13},"{12, 13, 14}",set(),NaN,20000.0,False
57,columbia,Mixed-Use,20000,NaN,False,False,{13},{46},"{48, 45, 46, 47}",set(),NaN,20000.0,False
58,columbia,Mixed-Use,20000,NaN,False,False,{13},{16},"{16, 17, 15}",set(),NaN,20000.0,False
59,columbia,Mixed-Use,20000,NaN,False,False,{13},{67},"{66, 67, 68, 69}",set(),NaN,20000.0,False
60,columbia,Columbia Lake-Overlay B on Residential Agricul...,50000,NaN,False,False,{13},{9},"{8, 9, 10, 11, 12}",set(),NaN,50000.0,False
68,danbury,RH-3 High-Rise Residential,5000,NaN,False,False,{87},{84},"{83, 84, 85, 86}",set(),NaN,5000.0,False

### Answer accuracy

In [19]:
df_old = pd.read_csv('../data/results/eval.csv')
df_old_max = pd.read_csv('eval_md.csv')

In [20]:
print("default ngroups", df_old.groupby(['town', 'district']).ngroups)
print("default ntowns", df_old['town'].nunique())

print("max ngroups", df_old_max.groupby(['town', 'district']).ngroups)
print("max ntowns", df_old_max['town'].nunique())

default ngroups 99
default ntowns 86
max ngroups 133
max ntowns 115

In [21]:
adf = df_old.groupby(by=['town', 'district']).agg({"correct_answer": "sum"}).reset_index()
adf_max = df_old_max.groupby(by=['town', 'district']).agg({"correct_answer": "sum"}).reset_index()

In [22]:
adf["correct_answer"].value_counts()

1    53
0    39
2     7
Name: correct_answer, dtype: int64

In [23]:
adf_max["correct_answer"].value_counts()

0    74
1    51
2     8
Name: correct_answer, dtype: int64

In [24]:
adf["correct"] = adf["correct_answer"].apply(lambda x: 1 if x > 0 else 0)
acc = adf["correct"].sum() / adf.shape[0]
print("accuracy =", acc)

adf_max["correct"] = adf_max["correct_answer"].apply(lambda x: 1 if x > 0 else 0)
acc_max = adf_max["correct"].sum() / adf_max.shape[0]
print("accuracy max =", acc_max)

accuracy = 0.6060606060606061
accuracy max= 0.44360902255639095

In [26]:
correct_default = adf[adf["correct"] == 1]["town"].values.tolist()
correct_default

['ansonia',
 'bethel',
 'branford-pine-orchard',
 'bristol',
 'burlington',
 'canaan-falls-village',
 'cheshire',
 'clinton',
 'colchester',
 'darien',
 'east-lyme',
 'franklin',
 'glastonbury',
 'groton-noank',
 'guilford-old-quarry',
 'hartland',
 'kent',
 'killingly-borough-of-danielson',
 'lisbon',
 'lisbon',
 'lyme',
 'madison',
 'morris',
 'new-canaan',
 'new-fairfield',
 'new-hartford',
 'new-london',
 'newington',
 'newtown',
 'newtown-borough',
 'north-canaan',
 'north-haven',
 'old-lyme',
 'plymouth',
 'prospect',
 'putnam',
 'ridgefield',
 'salem',
 'scotland',
 'seymour',
 'sharon',
 'simsbury',
 'south-windsor',
 'southington',
 'sprague',
 'stonington-borough',
 'suffield',
 'thomaston',
 'tolland',
 'wallingford',
 'wallingford',
 'waterford',
 'waterford',
 'waterford',
 'watertown',
 'west-haven',
 'weston',
 'winchester',
 'woodbury',
 'woodstock']

In [28]:
adf_max[adf_max["correct"] == 1]["town"].values.tolist()

['bethel',
 'branford-pine-orchard',
 'bristol',
 'brooklyn',
 'cheshire',
 'clinton',
 'colchester',
 'coventry',
 'darien',
 'durham',
 'east-granby',
 'east-hartford',
 'east-lyme',
 'east-windsor',
 'essex',
 'farmington',
 'franklin',
 'glastonbury',
 'goshen',
 'granby',
 'groton-noank',
 'guilford-old-quarry',
 'hamden',
 'kent',
 'lebanon',
 'lisbon',
 'lisbon',
 'litchfield',
 'lyme',
 'middlebury',
 'monroe',
 'morris',
 'new-britain',
 'new-fairfield',
 'new-london',
 'new-milford',
 'newtown-borough',
 'north-canaan',
 'plymouth',
 'pomfret',
 'preston',
 'prospect',
 'salem',
 'scotland',
 'seymour',
 'simsbury',
 'southington',
 'stonington-borough',
 'suffield',
 'thomaston',
 'tolland',
 'torrington',
 'voluntown',
 'waterford',
 'waterford',
 'waterford',
 'west-haven',
 'winchester',
 'woodstock']

In [9]:
incorrect_answer = adf[adf["correct"] == 0]["town"].values.tolist()

In [10]:
df_inc = df_old[df_old["town"].isin(incorrect_answer)]

In [11]:
df_inc[df_inc["correct_page_searched"]]

,town,district,expected,actual,correct_page_searched,correct_page_extracted,gt_page,searched_pages,extracted_pages,actual_normalized,expected_normalized,correct_answer
3,beacon-falls,Planned Adaptive Reuse Development 3,6229080,35 Feet,True,True,{121},{121},"{120, 121, 122}",NaN,6229080.0,False
50,ellington,Designed Multifamily,"217800, 435600",50 ft,True,False,{23},{23},{24},NaN,217800.0,False
51,ellington,Designed Multifamily,"217800, 435600",50 ft,True,False,{23},{23},{24},NaN,435600.0,False
78,ledyard,Commercial Marine,40000,40k,True,False,{16},{16},{15},NaN,40000.0,False
83,litchfield,Gateway Residences,40000,"30,000 sq ft",True,True,{11},{11},"{11, 12, 13}",30000.0,40000.0,False
111,newtown,Business & Professional Office,43560,1 acre,True,False,{123},{123},{122},43560.0,43560.0,True
113,newtown,Farming & Residential-R-2,87120,0.5 acres,True,False,{123},{123},{122},21780.0,87120.0,False
119,norfolk,Village Business,5000,"5,000 SF",True,False,{45},{45},{44},NaN,5000.0,False
170,suffield,R-90 Single Family Residential,90000,Ten (10) acres,True,True,"{41, 47}",{47},"{48, 46, 47}",435600.0,90000.0,False
200,watertown,Residential R-20,"20000,40000",40000 sq ft,True,False,{89},{89},{88},40000.0,20000.0,False
201,watertown,Residential R-20,"20000,40000",40000 sq ft,True,False,{89},{89},{88},40000.0,40000.0,True