In [217]:
import numpy as np
import pandas as pd

# Search recall

In [218]:
df = pd.read_csv('../data/results/eval_ek.csv')

In [219]:
df.shape

(317, 13)

In [220]:
df.shape

(317, 13)

In [221]:
df.groupby(['town', 'district']).ngroups

106

In [222]:
sdf = df.groupby(by=['town', 'district']).agg({"correct_page_searched": "sum"}).reset_index()

In [223]:
sdf["correct_page_searched"].value_counts()

1    88
0    14
2     4
Name: correct_page_searched, dtype: int64

In [224]:
sdf["correct"] = sdf["correct_page_searched"].apply(lambda x: 1 if x > 0 else 0)

In [225]:
recall = sdf["correct"].sum() / sdf.shape[0]
print("recall =", recall)

recall = 0.8679245283018868

In [226]:
incorrect_search = sdf[sdf["correct"] == 0]["town"].values.tolist()

In [227]:
df[df["town"].isin(incorrect_search)]

,town,district,expected,actual,correct_page_searched,correct_page_extracted,gt_page,searched_pages,searched_pages_expanded,extracted_pages,actual_normalized,expected_normalized,correct_answer
48,danbury,RH-3 High-Rise Residential,5000,NaN,False,False,{87},{84},"{83, 84, 85, 86}",set(),NaN,5000.0,False
49,danbury,RH-3 High-Rise Residential,5000,NaN,False,False,{87},{55},"{56, 54, 55}",set(),NaN,5000.0,False
50,danbury,RH-3 High-Rise Residential,5000,NaN,False,False,{87},{59},"{58, 59}",set(),NaN,5000.0,False
51,danbury,RH-3 High-Rise Residential,5000,NaN,False,False,{87},{67},"{66, 67, 68, 69, 70}",set(),NaN,5000.0,False
52,danbury,RH-3 High-Rise Residential,5000,NaN,False,False,{87},{98},"{97, 98, 99, 100}",set(),NaN,5000.0,False
73,easton,Residential B,130680,NaN,False,False,{35},{65},"{64, 65, 66, 67}",set(),NaN,130680.0,False
113,hebron,Amston Village,21780,NaN,False,False,{91},{87},"{86, 87, 88, 89, 90}",set(),NaN,21780.0,False
114,hebron,Amston Village,21780,NaN,False,False,{91},{145},"{144, 145, 146, 147, 148}",set(),NaN,21780.0,False
115,hebron,Amston Village,21780,NaN,False,False,{91},{178},"{177, 178, 179, 180}",set(),NaN,21780.0,False
116,hebron,Planned Residential Development,348480,NaN,True,False,{37},{35},"{34, 35, 36, 37}",set(),NaN,348480.0,False
117,hebron,Planned Residential Development,348480,NaN,False,False,{37},{41},"{40, 41, 42, 43}",set(),NaN,348480.0,False
143,morris,Residence 80,80000,NaN,True,False,{34},{30},"{32, 33, 34, 29, 30, 31}",set(),NaN,80000.0,False
144,morris,Residence 80,80000,NaN,False,False,{34},{14},"{16, 13, 14, 15}",set(),NaN,80000.0,False
145,morris,Residence 80,80000,NaN,False,False,{34},{64},"{64, 65, 66, 63}",set(),NaN,80000.0,False
146,morris,Commercial B,40000,NaN,False,False,{45},{41},"{40, 41, 42, 43, 44}",set(),NaN,40000.0,False
147,morris,Commercial B,40000,NaN,False,False,{45},{27},"{26, 27, 28, 29, 30}",set(),NaN,40000.0,False
148,naugatuck,Business 4,30000,NaN,False,False,{67},{2},"{1, 2, 3, 4, 5}",set(),NaN,30000.0,False
149,naugatuck,Business 4,30000,NaN,False,False,{67},{74},"{73, 74, 75, 76}",set(),NaN,30000.0,False
181,north-canaan,Central Business,60000,NaN,False,False,{19},{40},"{40, 41, 42, 39}",set(),NaN,60000.0,False
182,north-canaan,Central Business,60000,NaN,False,False,{19},{6},"{8, 5, 6, 7}",set(),NaN,60000.0,False
183,north-canaan,Commercial,60000,NaN,True,False,{19},{19},"{18, 19, 20}",set(),NaN,60000.0,False
184,north-canaan,Commercial,60000,NaN,False,False,{19},{41},"{40, 41, 42, 43}",set(),NaN,60000.0,False
185,north-canaan,Commercial,60000,NaN,False,False,{19},{1},"{0, 1, 2, 3, 4}",set(),NaN,60000.0,False
190,orange,Light Industrial 2,87120,NaN,False,False,{51},{59},"{64, 65, 58, 59, 60, 61, 62, 63}",set(),NaN,87120.0,False
191,orange,Light Industrial 2,87120,NaN,False,False,{51},{134},"{136, 133, 134, 135}",set(),NaN,87120.0,False
223,shelton,Commercial CA-2,15000,NaN,False,False,{49},{20},"{19, 20, 21}",set(),NaN,15000.0,False
224,shelton,Commercial CA-2,15000,NaN,False,False,{49},{26},"{25, 26, 27}",set(),NaN,15000.0,False
225,simsbury,Restricted Industrial,435600,NaN,False,False,{81},{92},"{91, 92, 93, 94}",set(),NaN,435600.0,False
226,simsbury,Restricted Industrial,435600,NaN,False,False,{81},{130},"{129, 130, 131, 132}",set(),NaN,435600.0,False
227,simsbury,Restricted Industrial,435600,NaN,False,False,{81},{83},"{82, 83, 84, 85}",set(),NaN,435600.0,False
228,simsbury,Restricted Industrial,435600,NaN,False,False,{81},{7},"{6, 7, 8, 9, 10, 11}",set(),NaN,435600.0,False
243,suffield,R-90 Single Family Residential,90000,NaN,False,False,"{41, 47}",{133},"{132, 133, 134}",set(),NaN,90000.0,False
244,suffield,R-90 Single Family Residential,90000,NaN,True,False,"{41, 47}",{47},"{48, 46, 47}",set(),NaN,90000.0,False
245,suffield,R-90 Single Family Residential,90000,NaN,False,False,"{41, 47}",{88},"{88, 89, 90, 87}",set(),NaN,90000.0,False
246,suffield,Planned Development Apartment,435600,NaN,False,False,{69},{48},"{48, 49, 47}",set(),NaN,435600.0,False
247,suffield,Planned Development Apartment,435600,NaN,False,False,{69},{41},"{40, 41, 42, 43}",set(),NaN,435600.0,False
248,suffield,Planned Development Apartment,435600,NaN,False,False,{69},{71},"{72, 73, 70, 71}",set(),NaN,435600.0,False
251,thompson,Commercial,15000,NaN,False,False,{27},{61},"{60, 61, 62, 63}",set(),NaN,15000.0,False
252,thompson,Commercial,15000,NaN,False,False,{27},{73},"{72, 73, 74, 75, 76}",set(),NaN,15000.0,False
253,thompson,Commercial,15000,NaN,False,False,{27},{55},"{54, 55, 56, 57, 58}",set(),NaN,15000.0,False
254,thompson,Commercial,15000,NaN,False,False,{27},{17},"{16, 17, 18, 19, 20}",set(),NaN,15000.0,False
255,thompson,Commercial,15000,NaN,False,False,{27},{67},"{66, 67, 68, 69, 70}",set(),NaN,15000.0,False
259,torrington,R-25 Residence,25000,NaN,False,False,{33},{48},"{48, 49, 50, 47}",set(),NaN,25000.0,False
260,torrington,R-25 Residence,25000,NaN,False,False,{33},{114},"{113, 114, 115, 116}",set(),NaN,25000.0,False
261,torrington,R-25 Residence,25000,NaN,False,False,{33},{55},"{56, 54, 55}",set(),NaN,25000.0,False
262,torrington,R-25 Residence,25000,NaN,False,False,{33},{111},"{112, 110, 111}",set(),NaN,25000.0,False
273,warren,North,87120,NaN,False,False,{16},{37},"{36, 37, 38, 39}",set(),NaN,87120.0,False
274,warren,North,87120,NaN,False,False,{16},{52},"{51, 52, 53, 54}",set(),NaN,87120.0,False
275,warren,North,87120,NaN,False,False,{16},{29},"{28, 29, 30, 31}",set(),NaN,87120.0,False
285,watertown,General Business 1,15000,NaN,False,False,{94},{96},"{96, 97, 98, 95}",set(),NaN,15000.0,False
286,watertown,Residential R-20,"20000,40000",NaN,True,False,{89},{89},"{88, 89}",set(),NaN,20000.0,False
287,watertown,Residential R-20,"20000,40000",NaN,True,False,{89},{89},"{88, 89}",set(),NaN,40000.0,False
288,watertown,Residential R-20,"20000,40000",NaN,False,False,{89},{50},"{49, 50, 51}",set(),NaN,20000.0,False
289,watertown,Residential R-20,"20000,40000",NaN,False,False,{89},{50},"{49, 50, 51}",set(),NaN,40000.0,False
290,watertown,Residential R-20,"20000,40000",NaN,False,False,{89},{202},"{201, 202, 203}",set(),NaN,20000.0,False
291,watertown,Residential R-20,"20000,40000",NaN,False,False,{89},{202},"{201, 202, 203}",set(),NaN,40000.0,False

# Answer accuracy

In [182]:
df_old = pd.read_csv('../data/results/eval.csv')

In [228]:
adf = df_old.groupby(by=['town', 'district']).agg({"correct_answer": "sum"}).reset_index()

In [229]:
adf["correct_answer"].value_counts()

1    53
0    39
2     7
Name: correct_answer, dtype: int64

In [230]:
adf["correct"] = adf["correct_answer"].apply(lambda x: 1 if x > 0 else 0)
acc = adf["correct"].sum() / adf.shape[0]
print("accuracy =", acc)

accuracy = 0.6060606060606061

In [233]:
incorrect_answer = adf[adf["correct"] == 0]["town"].values.tolist()

In [235]:
df_inc = df_old[df_old["town"].isin(incorrect_answer)]

In [237]:
df_inc.head(10)

,town,district,expected,actual,correct_page_searched,correct_page_extracted,gt_page,searched_pages,extracted_pages,actual_normalized,expected_normalized,correct_answer
3,beacon-falls,Planned Adaptive Reuse Development 3,6229080,35 Feet,True,True,{121},{121},"{120, 121, 122}",NaN,6229080.0,False
19,clinton,Business-2,10000,"40,000 sq. ft.",False,False,{334},{348},{347},40000.0,10000.0,False
20,clinton,Business-2,10000,"60,000 sq. ft.",False,False,{334},{303},{302},60000.0,10000.0,False
21,clinton,Village,10000,Thirty Feet (30'),False,False,{334},{325},{326},NaN,10000.0,False
22,clinton,Village,10000,"30,000 sq ft",False,False,{334},{127},"{126, 127}",30000.0,10000.0,False
23,clinton,Village,10000,"10,000 sq ft",False,True,{334},{335},{334},10000.0,10000.0,True
26,coventry,Lake Residential,40000,7.5 acres,False,False,{28},{93},"{92, 93, 94, 95}",326700.0,40000.0,False
27,cromwell,Downtown Cromwell,5000,1 off-street parking space per guest bedroom,False,False,{43},{169},{171},NaN,5000.0,False
28,cromwell,Downtown Cromwell,5000,"15,000 sq ft",False,False,{43},{49},"{48, 49, 50, 51}",15000.0,5000.0,False
29,danbury,RH-3 High-Rise Residential,5000,"2,000 sq ft",False,False,{87},{84},{83},2000.0,5000.0,False