In [269]:
import numpy as np
import pandas as pd

### Search recall

In [270]:
df = pd.read_csv('../data/results/eval.csv')

#df = pd.read_csv('eval_md.csv')
df = df[df["term"] == "min_unit_size"]

In [271]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 501 to 602
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   town                     102 non-null    object
 1   district                 102 non-null    object
 2   term                     102 non-null    object
 3   expected                 102 non-null    object
 4   actual                   0 non-null      float64
 5   correct_page_searched    102 non-null    int64
 6   correct_page_extracted   102 non-null    int64
 7   gt_page                  102 non-null    object
 8   searched_pages           102 non-null    object
 9   searched_pages_expanded  102 non-null    object
 10  extracted_pages          102 non-null    object
 11  actual_normalized        0 non-null      float64
 12  expected_normalized      102 non-null    float64
 13  correct_answer           102 non-null    bool
dtypes: bool(1), float64(3), int64(2), object(8)
memory usage: 11.3+ KB

In [272]:
df.groupby(['town', 'district']).ngroups

33

In [273]:
df["correct_page_searched"] = df["correct_page_searched"].astype("int64")
df["correct_page_extracted"] = df["correct_page_extracted"].astype("int64")
sdf = df.groupby(by=['town', 'district']).agg({"correct_page_searched": "sum"}).reset_index()

In [274]:
sdf["correct_page_searched"].value_counts()

1    20
0    10
2     2
3     1
Name: correct_page_searched, dtype: int64

In [275]:
sdf["correct"] = sdf["correct_page_searched"].apply(lambda x: 1 if x > 0 else 0)

In [276]:
recall = sdf["correct"].sum() / sdf.shape[0]
print("recall =", recall)

recall = 0.696969696969697

In [277]:
incorrect_search = sdf[sdf["correct"] == 0]["town"].values.tolist()

In [278]:
len(incorrect_search)

10

In [279]:
df[df["town"].isin(incorrect_search)]

,town,district,term,expected,actual,correct_page_searched,correct_page_extracted,gt_page,searched_pages,searched_pages_expanded,extracted_pages,actual_normalized,expected_normalized,correct_answer
501,andover,Andover Lake,min_unit_size,500,NaN,0,0,{41},{96},"{96, 97, 95}",set(),NaN,500.0,False
502,andover,Andover Lake,min_unit_size,500,NaN,0,0,{41},{28},"{27, 28, 29, 30, 31}",set(),NaN,500.0,False
503,andover,Andover Lake,min_unit_size,500,NaN,0,0,{41},{189},"{192, 188, 189, 190, 191}",set(),NaN,500.0,False
504,ashford,Technology Development,min_unit_size,900,NaN,0,0,{29},{47},"{48, 49, 46, 47}",set(),NaN,900.0,False
518,east-windsor,Agriculture/Residential 1,min_unit_size,1248,NaN,0,0,{39},{36},"{35, 36}",set(),NaN,1248.0,False
519,east-windsor,Agriculture/Residential 1,min_unit_size,1248,NaN,0,0,{39},{81},"{80, 81, 82}",set(),NaN,1248.0,False
550,manchester,Rural Residence,min_unit_size,1100,NaN,0,0,{57},{49},"{48, 49, 50, 51}",set(),NaN,1100.0,False
551,manchester,Rural Residence,min_unit_size,1100,NaN,0,0,{57},{331},"{330, 331, 332, 333, 334, 335, 336, 337, 338, ...",set(),NaN,1100.0,False
556,morris,Commercial B,min_unit_size,"1000, 700, 600",NaN,0,0,{45},{41},"{40, 41, 42, 43, 44}",set(),NaN,1000.0,False
557,morris,Commercial B,min_unit_size,"1000, 700, 600",NaN,0,0,{45},{41},"{40, 41, 42, 43, 44}",set(),NaN,700.0,False
558,morris,Commercial B,min_unit_size,"1000, 700, 600",NaN,0,0,{45},{41},"{40, 41, 42, 43, 44}",set(),NaN,600.0,False
559,morris,Commercial B,min_unit_size,"1000, 700, 600",NaN,0,0,{45},{50},"{49, 50, 51, 52, 53, 54}",set(),NaN,1000.0,False
560,morris,Commercial B,min_unit_size,"1000, 700, 600",NaN,0,0,{45},{50},"{49, 50, 51, 52, 53, 54}",set(),NaN,700.0,False
561,morris,Commercial B,min_unit_size,"1000, 700, 600",NaN,0,0,{45},{50},"{49, 50, 51, 52, 53, 54}",set(),NaN,600.0,False
562,newtown,Farming & Residential-R-2,min_unit_size,1500,NaN,0,0,{123},{186},"{185, 186, 187, 188}",set(),NaN,1500.0,False
563,newtown-borough,Professional,min_unit_size,1500,NaN,0,0,{43},{84},"{83, 84, 85, 86}",set(),NaN,1500.0,False
564,newtown-borough,Professional,min_unit_size,1500,NaN,0,0,{43},{57},"{56, 57, 58, 59}",set(),NaN,1500.0,False
565,newtown-borough,Professional,min_unit_size,1500,NaN,0,0,{43},{30},"{32, 33, 29, 30, 31}",set(),NaN,1500.0,False
566,newtown-borough,Professional,min_unit_size,1500,NaN,0,0,{43},{19},"{18, 19, 20, 21}",set(),NaN,1500.0,False
576,sherman,Historic D,min_unit_size,600,NaN,0,0,{89},{19},"{18, 19, 20, 21}",set(),NaN,600.0,False
577,sherman,Historic D,min_unit_size,600,NaN,0,0,{89},{30},"{32, 29, 30, 31}",set(),NaN,600.0,False
578,sherman,Historic D,min_unit_size,600,NaN,0,0,{89},{37},"{36, 37, 38, 39}",set(),NaN,600.0,False
579,sherman,Historic D,min_unit_size,600,NaN,0,0,{89},{102},"{104, 101, 102, 103}",set(),NaN,600.0,False
595,washington,Woodville Business,min_unit_size,600,NaN,0,0,{44},{5},"{4, 5}",set(),NaN,600.0,False
596,washington,Woodville Business,min_unit_size,600,NaN,0,0,{44},{94},"{93, 94, 95}",set(),NaN,600.0,False
597,washington,Woodville Business,min_unit_size,600,NaN,0,0,{44},{32},"{32, 33, 34, 31}",set(),NaN,600.0,False
602,windham,C-1 General Commercial,min_unit_size,750,NaN,0,0,{71},{69},"{68, 69}",set(),NaN,750.0,False

### Answer accuracy

In [19]:
df_old = pd.read_csv('../data/results/eval.csv')
df_old_max = pd.read_csv('eval_md.csv')

In [20]:
print("default ngroups", df_old.groupby(['town', 'district']).ngroups)
print("default ntowns", df_old['town'].nunique())

print("max ngroups", df_old_max.groupby(['town', 'district']).ngroups)
print("max ntowns", df_old_max['town'].nunique())

default ngroups 99
default ntowns 86
max ngroups 133
max ntowns 115

In [21]:
adf = df_old.groupby(by=['town', 'district']).agg({"correct_answer": "sum"}).reset_index()
adf_max = df_old_max.groupby(by=['town', 'district']).agg({"correct_answer": "sum"}).reset_index()

In [22]:
adf["correct_answer"].value_counts()

1    53
0    39
2     7
Name: correct_answer, dtype: int64

In [23]:
adf_max["correct_answer"].value_counts()

0    74
1    51
2     8
Name: correct_answer, dtype: int64

In [24]:
adf["correct"] = adf["correct_answer"].apply(lambda x: 1 if x > 0 else 0)
acc = adf["correct"].sum() / adf.shape[0]
print("accuracy =", acc)

adf_max["correct"] = adf_max["correct_answer"].apply(lambda x: 1 if x > 0 else 0)
acc_max = adf_max["correct"].sum() / adf_max.shape[0]
print("accuracy max =", acc_max)

accuracy = 0.6060606060606061
accuracy max= 0.44360902255639095

In [26]:
correct_default = adf[adf["correct"] == 1]["town"].values.tolist()
correct_default

['ansonia',
 'bethel',
 'branford-pine-orchard',
 'bristol',
 'burlington',
 'canaan-falls-village',
 'cheshire',
 'clinton',
 'colchester',
 'darien',
 'east-lyme',
 'franklin',
 'glastonbury',
 'groton-noank',
 'guilford-old-quarry',
 'hartland',
 'kent',
 'killingly-borough-of-danielson',
 'lisbon',
 'lisbon',
 'lyme',
 'madison',
 'morris',
 'new-canaan',
 'new-fairfield',
 'new-hartford',
 'new-london',
 'newington',
 'newtown',
 'newtown-borough',
 'north-canaan',
 'north-haven',
 'old-lyme',
 'plymouth',
 'prospect',
 'putnam',
 'ridgefield',
 'salem',
 'scotland',
 'seymour',
 'sharon',
 'simsbury',
 'south-windsor',
 'southington',
 'sprague',
 'stonington-borough',
 'suffield',
 'thomaston',
 'tolland',
 'wallingford',
 'wallingford',
 'waterford',
 'waterford',
 'waterford',
 'watertown',
 'west-haven',
 'weston',
 'winchester',
 'woodbury',
 'woodstock']

In [28]:
adf_max[adf_max["correct"] == 1]["town"].values.tolist()

['bethel',
 'branford-pine-orchard',
 'bristol',
 'brooklyn',
 'cheshire',
 'clinton',
 'colchester',
 'coventry',
 'darien',
 'durham',
 'east-granby',
 'east-hartford',
 'east-lyme',
 'east-windsor',
 'essex',
 'farmington',
 'franklin',
 'glastonbury',
 'goshen',
 'granby',
 'groton-noank',
 'guilford-old-quarry',
 'hamden',
 'kent',
 'lebanon',
 'lisbon',
 'lisbon',
 'litchfield',
 'lyme',
 'middlebury',
 'monroe',
 'morris',
 'new-britain',
 'new-fairfield',
 'new-london',
 'new-milford',
 'newtown-borough',
 'north-canaan',
 'plymouth',
 'pomfret',
 'preston',
 'prospect',
 'salem',
 'scotland',
 'seymour',
 'simsbury',
 'southington',
 'stonington-borough',
 'suffield',
 'thomaston',
 'tolland',
 'torrington',
 'voluntown',
 'waterford',
 'waterford',
 'waterford',
 'west-haven',
 'winchester',
 'woodstock']

In [9]:
incorrect_answer = adf[adf["correct"] == 0]["town"].values.tolist()

In [10]:
df_inc = df_old[df_old["town"].isin(incorrect_answer)]

In [11]:
df_inc[df_inc["correct_page_searched"]]

,town,district,expected,actual,correct_page_searched,correct_page_extracted,gt_page,searched_pages,extracted_pages,actual_normalized,expected_normalized,correct_answer
3,beacon-falls,Planned Adaptive Reuse Development 3,6229080,35 Feet,True,True,{121},{121},"{120, 121, 122}",NaN,6229080.0,False
50,ellington,Designed Multifamily,"217800, 435600",50 ft,True,False,{23},{23},{24},NaN,217800.0,False
51,ellington,Designed Multifamily,"217800, 435600",50 ft,True,False,{23},{23},{24},NaN,435600.0,False
78,ledyard,Commercial Marine,40000,40k,True,False,{16},{16},{15},NaN,40000.0,False
83,litchfield,Gateway Residences,40000,"30,000 sq ft",True,True,{11},{11},"{11, 12, 13}",30000.0,40000.0,False
111,newtown,Business & Professional Office,43560,1 acre,True,False,{123},{123},{122},43560.0,43560.0,True
113,newtown,Farming & Residential-R-2,87120,0.5 acres,True,False,{123},{123},{122},21780.0,87120.0,False
119,norfolk,Village Business,5000,"5,000 SF",True,False,{45},{45},{44},NaN,5000.0,False
170,suffield,R-90 Single Family Residential,90000,Ten (10) acres,True,True,"{41, 47}",{47},"{48, 46, 47}",435600.0,90000.0,False
200,watertown,Residential R-20,"20000,40000",40000 sq ft,True,False,{89},{89},{88},40000.0,20000.0,False
201,watertown,Residential R-20,"20000,40000",40000 sq ft,True,False,{89},{89},{88},40000.0,40000.0,True